.example_a {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;

}

.example_a:hover {
  cursor: pointer; 
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}
.example_b {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 20px;
  border-radius: 5px;
  
  border: none;
  transition: all 0.4s ease 0s;
  margin-right: 25%;
  margin-left: 25%;
}

.example_b:hover {
  background: #434343;
  letter-spacing: 1px;
  cursor: pointer; 
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);/*dhel*/
  transition: all 0.4s ease 0s;
}
img{
  height: 300px;
  width: 200px;
}
p{
  color: red;
  font-family: comic sans ms;
}
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("some cards.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  position: float;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}